@model KitapTuru

<form method="post">
    <input asp-for="Id" hidden />

    <div class="container mt-5">
        <div class="card border-danger p-4">
            <div class="row pb-3">
                <h2 class="text-danger">Kitap Türü Sil</h2>
                <hr class="my-4">
            </div>

            <div class="mb-3">
                <label asp-for="Ad" class="form-label"></label>
                <input asp-for="Ad" disabled class="form-control" placeholder="Kitap Türü Adı" />
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-danger btn-lg" style="width:250px">Kitap Türü Sil</button>
                <a asp-controller="KitapTuru" asp-action="Index" class="btn btn-secondary btn-lg mt-3" style="width:250px">
                    Kitap Türlerine Geri Dön
                </a>
            </div>
        </div>
    </div>
</form>
