@model Kitap

<form method="post">
    <input asp-for="Id" hidden />

    <div class="container mt-5">
        <div class="card border-success p-4">
            <div class="row pb-3">
                <h2 class="text-success">Kitap Güncelle</h2>
                <hr class="my-4">
            </div>

            <div class="mb-3">
                <label asp-for="KitapAdi" class="form-label"></label>
                <input asp-for="KitapAdi" class="form-control" placeholder="Kitap Türü Adı" />
                <span asp-validation-for="KitapAdi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Tanim" class="form-label"></label>
                <input asp-for="Tanim" class="form-control" placeholder="Kitap Türü Adı" />
                <span asp-validation-for="Tanim" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Yazar" class="form-label"></label>
                <input asp-for="Yazar" class="form-control" placeholder="Kitap Türü Adı" />
                <span asp-validation-for="Yazar" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Fiyat" class="form-label"></label>
                <input asp-for="Fiyat" class="form-control" placeholder="Kitap Türü Adı" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success btn-lg" style="width:250px">Kitap Güncelle</button>
                <a asp-controller="Kitap" asp-action="Index" class="btn btn-secondary btn-lg mt-3" style="width:250px">
                    Vitrine Geri Dön
                </a>
            </div>
        </div>
    </div>
</form>
